<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="">{{ titulo }}</a>
</nav>

<router-outlet></router-outlet>

<!-- COMPONENTE ROUTER-OUTLET
  *O modulo de rotas nos disponibiliza esse componente para que sempre que 
  acessarmos determinada rota, o componente da rota seja carregada aqui dentro
  , tudo que construirmos. Então tudo que construimos em volta desse router-outlet
  vai existir em todos os pontos da aplicaçao e oque vai mudar é apenas o conteudo
  dele.
-->